@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {

    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 10vh;
}

#scarecrow {
    max-width: 40%;
    margin: 0 7vw;
}

img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

#message {
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#title {
    font-size: 6vw;
    font-weight: 700;
    color: #333333;
}

#msg {
    font-size: 1rem;
    color: #4F4F4F;
}

#button {
    padding: 1rem 1.5rem;
    background-color: #333333;
    color: white;
    font-size: 0.75rem;
    width: fit-content;
}

#footer {
    font-size: 0.75rem;
    width: 30%;
    position: absolute;
    bottom: 0.5rem;
    margin: 0 35%;
    text-align: center;
    color: #BDBDBD;
}

#errMsg {
    padding: 5px 20px;
}
@media screen and (max-width: 650px) {
    #main {
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        margin-top: 5vh;
        height: 90vh;
    }

    #scarecrow {
        width: 50%;
    }

    #message {
        width: 90%;
        height: 50vh;
        justify-content: space-around;
    }

    #title {
        font-size: 3rem;
    }

    #msg {
        width: 90%;
    }
    

    #footer {
        width: 90%;
        margin: 0 5%;
    }
}